
ul 
{
width:35%;
margin:0 auto;
padding:0;
 }
 ul>li
    {
	 list-style:none;
	 text-align:center;
	}
 
ul>li
{
	position:relative;
	float:left;
	width:120px;
	background:grey;
}
	 ul li a
	 {
		 display:block;
		 color:white;
		 padding:1em 0;
		 text-decoration:none;
	  }
	  ul li ul
	  {
		  display:none;
		  position:absolute;
	  }
	  		 ul li:hover  ul
	  {
		  display:block;
	  } 
	  ul li ul li:hover
	  {
	  background:rgb(200, 200, 200);
	    }
		ul li ul li a:hover
		 {
			 font-weight:800;
			 color:black;
		 }
		  
		 	
		  
		
	 
	  
		 
	 